<html>
    <head>
        <title>Pendaftaran Sekolah</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>        
        <div th:fragment="content">
            <form name="f" th:action="@{/index}" method="POST">
                <center><h3><b>Selamat Datang di Portal SIAP PPDB Online</h3></b></center>
                <br/>
SIAP PPDB Online, adalah sebuah sistem yang dirancang untuk melakukan otomasi 
seleksi Pendaftaran Peserta Didik Baru (PPDB), mulai dari proses 
pendaftaran, <br> proses seleksi hingga pengumuman hasil seleksi, 
yang dilakukan secara online dan berbasis waktu nyata (realtime).

<br/>
<br/>
<br/>
Jadwal, Syarat dan Ketentuan Umum
<br/>
Ketentuan umum: 
<br/>
1. Warga Provinsi DKI Jakarta, ditunjukkan dengan Kartu Keluarga yang dikeluarkan oleh Dinas Kependudukan dan Catatan Sipil Provinsi DKI Jakarta dan tercatat dalam sistem data kependudukan paling akhir 1 Januari 2018. 
<br/>
2. Calon peserta didik baru menyerahkan berkas persyaratan PPDB sesuai dengan ketentuan kepada panitia tingkat satuan pendidikan.
<br/>
3. Menyerahkan surat keterangan yang menerangkan bahwa calon peserta didik baru adalah peserta didik inklusif dari pihak yang berkompeten. 
<br/>
4. Calon peserta didik baru hanya bisa memilih satu sekolah tujuan. 
<br/>
5. Calon peserta didik yang dinyatakan diterima pada sekolah tujuan tidak dapat mengikuti proses PPDB lain.

            </form>
        </div>
    </body>
</html>
