<html>
    <head>
        <title>Pendaftaran Sekolah</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="css/aplikasi.css"/>

    </head>


    <body>
        <!----------------------------------------------------------------------HEADER---------------------------------------------------->

        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #086788; padding: 30px;">
            <div class="container">
                <a class="navbar-brand" href="#" style="color: whitesmoke;">Pendaftaran</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="container">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/templates/index" style="color:whitesmoke;">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#" style="color:whitesmoke;">Aturan</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/siswa/form" style="color:whitesmoke;">Fomulir</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/siswa/list" style="color:whitesmoke;">Hasil</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#" style="color:whitesmoke;">About</a>
                            </li>
                        </ul>
                    </div>
                </div>


                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <br/>
        <!---------------------------------------------------------------------HEADER---------------------------------------------------->
        <br/>
        <br/>
        <br/>
        <br/>

        <!----------------------------------------------------------------------KONTEN---------------------------------------------------->

        <div class="container-fluid">
            <div class="container" th:replace="${view} :: content"></div>
        </div>

        <!----------------------------------------------------------------------KONTEN---------------------------------------------------->

        <br/>


        <!----------------------------------------------------------------------FOOTER---------------------------------------------------->
        <div>Disini Footer</div>
        <!----------------------------------------------------------------------FOOTER---------------------------------------------------->

        <script src="/js/query.min.js"></script>

        <script src="/js/jquery.min.js"></script>

        <script src="/js/jsquery.min.js"></script>
    </body>
</html>
