<html>
    <head>
        <title>Pendaftaran Sekolah</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>        
        <div style=" width: 80%; margin: auto; margin-top: 80px; padding: 20px;" th:fragment="content">
            
            <b><center><div style="padding: 10px; font-size: 20pt; margin-bottom: 30px;"> Tata Cara </div></center></b>
            
            <div style="border-left: 5px solid #086788; padding: 10px; font-size: 15pt; margin-bottom: 20px;"> 
                
                <ol>
                    <li> Buka aplikasi Pendaftaran Online </li>
                    
                    <li> Login/Sign Up terlebih dahulu sebelum mulai mendaftar sekolah </li>
                    
                    <li> Setelah Login, masuk ke halaman daftar </li>
                    
                    <li> Isi form sesuai data diri </li>
                    
                    <li> Setelah data diri diisi, klik "Daftar" </li>
                    
                    <li> Data anda sudah terinput </li>
                </ol>
                
            </div>
  
        </div>
    </body>
</html>
