<html>
    <head>
        <title>Pendaftaran Sekolah</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="css/aplikasi.css"/>

    </head>
    <body>
        <div class="container">       
            <div class="container-fluid">
                <div th:fragment="content">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th><a class="sorted" sd:pagination-sort="nis" >Nis</a></th>
                                <th><a class="sorted" sd:pagination-sort="nama" >Nama</a></th>
                                <th><a class="sorted" sd:pagination-sort="tanggal" >Tanggal Lahir</a></th>
                                <th><a class="sorted" sd:pagination-sort="alamat" >Alamat</a></th>
                                <th><a class="sorted" sd:pagination-sort="agama" >Agama</a></th>
                                <th><a class="sorted" sd:pagination-sort="gender" >Jenis Kelamin</a></th>
                                <th><a class="sorted" sd:pagination-sort="asal" >Asal Sekolah</a></th>
                                <th><a class="sorted" sd:pagination-sort="nilai" >Nilai</a></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="p : ${daftarPeserta}">
                                <td th:text="${p.nis}">poi</td>
                                <td th:text="${p.nama}">poi0989@gmail.com</td>
                                <td th:text="${p.tanggalLahir}">2003-07-13</td>
                                <td th:text="${p.alamat}">bekasii</td>
                                <td th:text="${p.gender}">perempuan</td>
                                <td th:text="${p.asal}">tk berlian</td>
                                <td th:text="${p.nilai}">50.22</td>
                                <td>
                                    <a href="form.html" th:href="@{/siswa/form(id=${p.id})}">
                                        Edit
                                    </a>|

                                    <a href="view.html" th:href="@{/siswa/view(id=${p.id})}">
                                        Lihat
                                    </a>| 

                                    <a href="hapus.html" th:href="@{/siswa/hapus(id=${p.id})}">
                                        Hapus
                                    </a>


                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-6">
                            <div sd:pagination-summary="">info</div>
                        </div>
                        <div class="col-sm-6">
                            <nav class="pull-right">
                                <ul class="pagination" sd:pagination="full">
                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                    <li class="disabled"><a href="#" aria-label="Previous"><span
                                                aria-hidden="true">&laquo;</span></a></li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    <li class="active"><a href="#">2 <span class="sr-only">(current)</span></a></li>
                                    <li class="active"><a href="#">3 <span class="sr-only">(current)</span></a></li>
                                    <li class="active"><a href="#">4 <span class="sr-only">(current)</span></a></li>
                                    <li class="active"><a href="#">5 <span class="sr-only">(current)</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
