<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    <th>NIS</th>
                    <th>Nama</th>
                    <th>TanggalLahir</th>
                    <th>JenisKelamin</th>
                    <th>Alamat</th>
                    <th>Agama</th>
                    <th>Nilai</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="s : ${daftarSiswa}">
                    <td th:text="${s.nis}">171810222</td>
                    <td th:text="${s.nama}">april</td>
                    <td th:text="${s.tanggalLahir}">2002-04-05</td>
                    <td th:text="${s.jenisKelamin}">perempuan</td>
                    <td th:text="${s.alamat}">Bekasi</td>
                    <td th:text="${s.agama}">Non muslim</td>
                    <td th:text="${s.nilai}">60</td>
                    <td>
                        <a href="form.html" th:href="@{/siswa/form(id=${s.id})}">  Edit </a>
                        | 
                       <a href="view.html" th:href="@{/siswa/view(id=${s.id})}">  Lihat </a>
                        | 
                        <a href="hapus.html" th:href="@{/siswa/hapus(id=${s.id})}">  Hapus </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
